[submodule "build/submodules/SDL-mirror"]
	path = build/submodules/SDL-mirror
	url = https://github.com/spurious/SDL-mirror
[submodule "src/Aliquip/VMASharp"]
	path = src/Aliquip/VMASharp
	url = https://github.com/sunkin351/VMASharp.git
